{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static  'aufgaben/css/style.css' %}">
</head>
<body>
    <div class="form-card">
        <h1 class="page-title">Login</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary" type="submit">
                Einloggen
            </button>
        </form>
    </div>
</body>
</html>